/* Style for the header */
 /* Default styles for header and nav */
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin: 5px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
  }

  nav a.active {
    font-weight: bold;
  }
  
  .skip a {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
  }
  
  .skip a:focus {
    left: 0;
    top: 0;
    padding: 3px;
    background: #ffc;
    border:1px solid #990000;
  }
  
   
    .active {
      text-decoration: underline;
      color: rgb(216, 179, 255);
    }

    body{
        background-color: #d6d8fd;
        font-size: 18px;
        line-height: 1.15;
      }

/*about page*/
.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 20px;
    padding: 20px;
    border: 5px solid azure;
}

h1, h2, p {
    font-family: sans-serif;
}

img {
    max-height: 100%;
    max-width: 70%;
}

.overview {
    background-color: azure;
    grid-column: 1 / 2;
    text-align: center;
}

.chicago-text {
    grid-column: 1/ 2;
    text-align: center;
}

.chicago-cover {
    grid-column: 1/ 2;
    text-align: center;
}

.chicago img{
    display: none;
}


.samba-text{
    grid-column: 1/ 2;
    text-align: center;
} 

.samba-cover {
    grid-column: 1/ 2;
    text-align: center;
}

.samba img{
    display: none;
}

.er-text {
    grid-column: 1/ 2;
    text-align: center;
}

.er-cover {
    grid-column: 1/ 2;
    text-align: center;
}

.er img{
    display: none;
}


.aa-text {
    grid-column: 1/ 2;
    text-align: center;
}

.aa-cover {
    grid-column: 1/ 2;
    text-align: center;
}

.aa img{
    display: none;
}

.florida-text {
    grid-column: 1/ 2;
    text-align: center;
}

.florida-cover {
    grid-column: 1/ 2;
    text-align: center;
}

.florida img{
    display: none;
}


@media screen and (min-width: 550px){
    header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-family: "DynaPuff", sans-serif;
    }

    h2 {
        font-family: "DynaPuff", sans-serif;
        color: #333;
        margin: 20px 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-bottom: 5px solid rgb(228, 19, 162);
        padding-bottom: 5px;
    }

    .container2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .overview {
        grid-column: 1/ span 4;
    }
    .chicago-text {
        grid-column: 1/ span 4;
    }

    .chicago-cover {
        grid-column: 1/ span 3;
    }

    .chicago img {
        display: inline;
    }

    .samba img {
        display: inline;
    }

    .samba-text {
        grid-column: 1/ span 4;
    }

    .samba-cover {
        grid-column: 1/ span 3;
    }

    .er img {
        display: inline;
    }

    .er-text {
        grid-column: 1/ span 4;
    }

    .er-cover {
        grid-column: 1/ span 3;
    }

    .aa img {
        display: inline;
    }

    .aa-text {
        grid-column: 1/ span 4;
    }

    .aa-cover {
        grid-column: 1/ span 3;
    }

    .florida img {
        display: inline;
    }

    .florida-text {
        grid-column: 1/ span 4;
    }

    .florida-cover {
        grid-column: 1/ span 3;
    }
}


@media screen and (min-width: 1200px){
    header {
        align-items: flex-end;
    } 
  
      nav ul {
        align-self: flex-end;
        display: inline;
        text-align: right;
      }
  
      nav li {
        margin: 5px;
      }
    
    .container2 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    h1 {
        font-family: "DynaPuff", serif;
    }

    h2 {
        font-family: "DynaPuff", sans-serif;
        font-size: 60px;
        color: #333;
        margin: 20px 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-bottom: 5px solid rgb(228, 19, 162);
        padding-bottom: 5px;
    }

    .chicago-text {
        font-size: 40px;
        margin: 0px 40px 0px 40px;
        grid-column: 1/3;
    }

    .chicago-cover {
        margin-top: 50px;
        grid-column: 3/ 4;
    }

    .chicago {
        margin-top: 30px;
        grid-column: 1/ span 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .samba-text{
        font-size: 40px;
        margin: 0px 40px 0px 40px;
        grid-column: 1/3;
    } 

    .samba-cover {
        margin-top: 50px;
        grid-column: 3/ 4;
    }

    .samba {
        margin-top: 30px;
        grid-column: 1/ span 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .er-text {
        font-size: 40px;
        margin: 0px 40px 0px 40px;
        grid-column: 1/3;
    }

    .er-cover {
        margin-top: 50px;
        grid-column: 3/4;
    }

    .er {
        margin-top: 30px;
        grid-column: 1/ span 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .aa-text {
        font-size: 40px;
        margin: 0px 40px 0px 40px;
        grid-column: 1/3;
    }

    .aa-cover {
        margin-top: 50px;
        grid-column: 3/4;
    }

    .aa {
        margin-top: 30px;
        grid-column: 1/ span 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .florida-text {
        font-size: 40px;
        margin: 0px 40px 0px 40px;
        grid-column: 1/3;
    }

    .florida-cover {
        margin-top: 50px;
        grid-column: 3/4;
    }


    .florida {
        margin-top: 30px;
        grid-column: 1/ span 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}





