/* Style for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  .skip a {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
    }

.skip a:focus {
    left: 0;
    top: 0;
    padding: 3px;
    background: #ffc;
    border:1px solid #990000;
    }
  
  /* Style for the main content */
  body {
    background-color: #d6d8fd;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
    display: block;
    margin: 20px 0;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5;
  }
  